<footer>
    <p>This is an open source project. View the <a href="https://github.com/adammehaney/Binary-Search-Tree-Visualizer" target="_blank">Github Repository</a>.</p>
    <p>Created by Adam Mehaney</p>
</footer>
<style>
    footer {
        margin-top: 30px;
        text-align: center;
    }
</style>