---
import GithubLogo from '/src/images/github-mark-white.svg'
---

<header>
    <div>
        <h1>Binary Search Tree</h1>
        <h2>Visualizer</h2>
    </div>
    <div>
        <a href="https://github.com/adammehaney/Binary-Search-Tree-Visualizer" target="_blank"><img src={GithubLogo.src} alt="Github Logo" width="30px" height="30px"></a>
    </div>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>