<div>
    <slot>
        
    </slot>
</div>
<style>
    div {
        display: flex;
        flex-direction: column;
        background-color: var(--background-secondary);
        padding: 20px;
        border-radius: var(--border-radius);
        border: 1px solid var(--secondary);
    }
</style>