---
import '@fontsource-variable/manrope';
import Favicon from '/src/images/favicon.svg'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Easily visualize, randomly generate, add to, remove from a binary search tree. See preorder, inorder, and postorder lists of your binary search tree." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href={Favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Binary Search Tree BST Balanced Set Search Insert Delete Adam Mehaney Predecessor Successor Inorder Data Structure Algorithm Visualization Online Learning Tutorial Open Source">
		<title>{title}</title>
		<script src="../typescript/BST.ts"></script>
		<meta name="google-site-verification" content="XQkIf1w-ZpNZNAPfaG-X9BhPLxMQeYv-75eDrQ_dmGE" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background-secondary: rgb(32, 54, 100);
		--background: #14213dff;
		--secondary: #fca311ff;
		--primary: #e5e5e5ff;
		--white: #ffffffff;
		--border-radius: 20px;
	}
	* {
		color: var(--primary);
		margin: 0;
		padding: 0;
	}
	html, input {
		font-family: 'Manrope Variable', sans-serif;
		background: var(--background);
	}
	body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	h1, h2, h3, h4 {
		text-transform: uppercase;
		text-align: left;
		vertical-align: middle;
	}
	h2, h3, h4 {
		color: var(--secondary);
	}
</style>
